.navbar img {
    width: 1.2rem;
}

.welcome {
    background: url('/img/background.jpg');
    background-position: center center;
    background-size: cover;
}

.profile-picture {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
